.contenedor{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15%;
    flex-direction: column;
    
}

.formulario{
    display:flex;
    align-items: right;
    justify-content: center;
}

.cartas{
    width: 50%;
}

.boton{
    margin-left: 35%;
    margin-top:5%;
}

.botoneliminar{
    margin-left: 35%;
    width: 30%;
    display:flex;
    justify-content: center;
    color: white;
}